body{
  margin: 0;
}

.video-container {
  width: 2050px;
  height: 1600px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  position: relative;

}

video {
  pointer-events: auto;
  display: none;
}

.overlay{
  /*
  pointer-events: none;
  */
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 30px;
  color: red;
  width: 2052px;
  height: 1540px;
  background-color: black;
  background-image: url("new100.png");
}

.App {
  text-align: center;
}

.canvas-container {
  width: 1024px;
  height: 768px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

canvas {
  border: 2px solid black;
  position: absolute;
  left: 0px;
  top: 0px;
}

img{
  position: absolute;
  left: 0px;
  top: 0px;
}

button{
  position: absolute;
}